<div class="mmodal">
  <div class="mmodal-body">
    <div class="container">
      <div class="header">
        <h2>Update Product</h2>
      </div>
      <form [formGroup]="form" class="form" (ngSubmit)="submit()">
        <label for="productName">Product Name</label>
        <input id="productName" formControlName="productName" />
        <div
          *ngIf="
            form.controls.productName.errors?.required &&
            form.controls.productName.touched
          "
          class="error"
        >
          *Required
        </div>

        <label for="productDescription">product Description</label>
        <textarea
          rows="5"
          cols="20"
          id="productDescription"
          formControlName="productDescription"
        ></textarea>
        <div
          *ngIf="
            form.controls.productDescription.errors?.required &&
            form.controls.productDescription.touched
          "
          class="error"
        >
          *Required
        </div>
        <div
          *ngIf="
            form.controls.productDescription.errors?.minlength &&
            form.controls.productDescription.touched
          "
          class="error"
        >
          *MinLength should Be
        </div>

        <label for="productPrice">product Price</label>
        <input id="productPrice" formControlName="productPrice" />
        <div
          *ngIf="
            form.controls.productPrice.errors?.required &&
            form.controls.productDescription.touched
          "
          class="error"
        >
          *Required
        </div>
        <button [disabled]="!form.valid">Save Product</button>
      </form>
    </div>
  </div>
</div>
<div class="mmodal-background"></div>
