@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic);

p {
  text-align: center;
  margin: 2em 0;
}

button {
  border: none;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  margin: 10px;
  background: #d30000;
  color: #fff;
  font-size: xx-large;
  font-size: 1em;
  padding: 1em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}

button:focus {
  outline-style: none;
}

.btn {
}

.mmodal {
  z-index: 1000;
  position: fixed;
  top: 30px;
  bottom: 0;
  left: 10%;
  width: 500px;
}
.mmodal-body {
  background: #fff;
  margin: 40px;
  padding: 20px;
}
.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 420px;
  max-width: 100%;
}
.header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 40px;
}

.header h2 {
  margin: 0;
}
.form {
  padding: 30px 40px;
}
label {
  display: inline-block;
  font-size: xx-large;
  margin-bottom: 5px;
}

input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: xx-large;
  padding: 10px;

  font-family: inherit;
  width: 100%;
}
.error {
  border-color: #e74c3c;
  color: red;
}
textarea {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  padding: 10px;
  font-size: xx-large;
  font-family: inherit;
  width: 100%;
}
button:disabled {
  background-color: black;
  cursor: not-allowed;
}
