<div class="chatbot">
  <div class="select">
    <label>Select Product</label>
    <select [(ngModel)]="selectedItem">
      <option *ngFor="let opt of productItem" [value]="opt.Id">
        {{ opt.Name }}
      </option>
    </select>
  </div>

  <div *ngIf="selectedItem.length > 0">
    <label>Select Price Range</label>
    <input
      id="slider"
      type="range"
      min="500"
      max="150000"
      placeholder="Enter your Budget"
      [(ngModel)]="priceRange"
    />
    <label class="price">{{
      priceRange | number: "3.1" | priceText: "INR"
    }}</label>

    <label>Select Brand</label>
    <select [(ngModel)]="selectedBrand" [hidden]="showBrand">
      <option *ngFor="let opt of productBrandArray" [value]="opt">
        {{ opt }}
      </option>
    </select>
  </div>

  <div *ngIf="selectedBrand.length > 0">
    <button
      [routerLink]="['/products']"
      [queryParams]="{
        productType: selectedItem,
        productPrice: priceRange,
        productBrand: selectedBrand
      }"
      routerLinkActive="active"
    >
      Search
    </button>
  </div>
</div>
