.active {
  float: right;
  background-color: brown;
  color: white;
  position: fixed;
  bottom: 90vh;
  width: 150px;
  height: 50px;
}
.hidden {
  visibility: hidden;
}
.app {
  position: fixed;
  display: grid;
  flex-direction: column;
  margin: 10%;
}
.btn {
  border-radius: 5px;
  width: 50px;
  position: fixed;
  left: 90vw;
  top: 92vh;
  height: 50px;
  background: url(https://cdn.iconscout.com/icon/premium/png-256-thumb/filter-192-1133964.png);
  background-size: contain;
}
.btn2 {
  border-radius: 5px;
  width: 50px;
  bottom: 10vh;
  position: fixed;
  left: 90vw;
  height: 50px;
  background: url(https://qph.fs.quoracdn.net/main-qimg-c9836d2130f15a8a9c3fa38076fbdeb2);
  background-size: contain;
}

.btn:hover {
  border-radius: 10px;
  border: 2px blue;
}
