@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic);

p {
  text-align: center;
  margin: 2em 0;
}

button {
  border: none;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  background: #d30000;
  color: #fff;
  font-size: 1em;
  padding: 1em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}

button:focus {
  outline-style: none;
}

.btn {
}

/*= Dialog */

#dialog {
  width: 100%;
  height: 100%;
  transform: scale(0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  background: rgba(192, 192, 192, 0.8);
  transition: all 400ms ease-in;
}

#dialog:target {
  transform: scale(1);
}

#dialog-content {
  width: 300px;
  position: absolute;

  margin-left: -150px;
  background: #fff;
  border: 1px solid #ccc;
}

#dialog-text {
  margin: 1.5em 0;
  text-align: center;
  text-transform: uppercase;
}

#dialog-actions {
  padding-bottom: 1.5em;
  text-align: center;
}

#dialog-actions button {
  margin-right: 1em;
  border: 2px solid #000;
  background: #fff;
  font-size: 1em;
  padding: 0.4em 1.4em;
  font-weight: bold;
  text-transform: uppercase;
}
