<div class="dialog" [hidden]="dialogVisiblity">
  <h1>Are you Sure to remove this Item from List</h1>

  <button (click)="remove()">Remove</button>
  <button (click)="cancel()">Cancel</button>
</div>
<!-- <div id="dialog" [hidden]="dialogVisiblity">
  <div id="dialog-content">
    <div id="dialog-text">Are you sure?</div>
    <div id="dialog-actions">
      <button type="button" id="dialog-ok" (click)="remove()">OK</button>
      <button type="button" id="dialog-cancel" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>
</div> -->
